@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  background-color: rgb(31 41 55);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
span {
  color: black;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
}

img {
  height: auto;
  max-width: 100%;
}
