#navIcon:before,
#navIcon:after {
  border: none;
  shadow: none;
}

.link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navLinks {
  transition: background-color 0.5s ease-in-out;
  border-radius: 10px;
}

.navLinks:hover {
  background: rgb(86, 96, 110);
  transition: background-color 1s ease;
}

/* On mobile fadein */
.fadein {
  animation: fadein 0.5s linear forwards;
}
